body {
  font-size: 1.5em;
}

.main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100vh;
  width: 100vw;
}

.one {
  grid-area: 1 / 1 / 4 / 4;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmRHVUXZCut9J5hiKeZpkY5ZvBqiGjKHM-o06UXf37lAj1p76w);
  background-size:cover;
}

.two {
  grid-area: 1 / 4 / 5 / 6;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp-XgTvGkMDoS5CULhHfhnlbxSCWwmReBjrkYu5EnurRClS-FRfw);
background-size:cover;
}

.three {
  grid-area: 4 / 1 / 7 / 3;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTStKDdL0eTqNwPE20Am80eiGLNZ8E52M8h0BxKV_uIx61j3KUT);
background-size:cover;
}

.four {
  grid-area: 5 / 3 / 7 / 6;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtlhIWapKw6CXBTemnKgI8ebiYXQz87-5PVV7vdlJAjFULynEu2w);
  background-size:cover;
}

.five {
  grid-area: 4 / 3 / 5 / 4;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtvKpO4ZnNIigNCYHk8eLVF34p1nUEL1jeVJritr_BhoYGV8ru);
  background-size:cover;
}


.main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main {
    display: block;
  }
  .main > div {
    height: 200px;
  }
}
